.PageHeader {
  background-image: url("../../../images/slide-1-background.jpeg") !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: 0 70% !important;
  height: 28vh;
}
