.ourstory-link {
  background-image: url("../../../images/wine-taste.jpeg") !important;
}

.ourwines-link {
  background-image: url("../../../images/vineyard.jpeg") !important;
}

.contactus-link {
  background-image: url("../../../images/office.jpeg") !important;
}
